:root {
    --kanalla-font-family: "Salsa", Helvetica;
    --kanalla-font-weight: 400;
    --kanalla-font-size: 102.3190689086914px;
    --kanalla-letter-spacing: 0px;
    --kanalla-line-height: 81.30487060546875px;
    --kanalla-font-style: normal;
}
